body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

#video-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: #45a049;
}

/* Уменьшаем размер экрана */
video {
    width: 60%; /* 60% от ширины экрана */
    max-width: 600px; /* Максимальная ширина 600px */
    border: 2px solid #333; /* Добавляем рамку для выделения */
    border-radius: 10px; /* Скругляем углы */
}
